
{{page_header}}

<div id="content" height="800">
	<div id="section">
		<h1>The Team At Future Infra:</h1>

		<table border="1" height="1000">
			<tr>
				<td width="200"> <img src="../static/images/priya1.png" /> </td>
				<td width="600"> <strong> Priya Yadav Malhotra, Fouder </strong> </td>
			</tr>

			<tr>
				<td width="200"> <img src="../static/images/deepankur1.png" /> </td>
				<td width="600"> <strong> Deepankur Malhotra, Co Founder and COO </strong> </td>
			</tr>

			<tr>
				<td width="200"> <img src="../static/images/prateek1.jpg" /> </td>
				<td width="600"> <strong> Prateek Yadav, Marketing Head </strong> </td>
			</tr>
		</table>

		<br>
		<br>

		<strong>
			Regd. Office:
			FF-23, Omaxe Plaza Mall, Sohna Road
			Gurgaon 122001
			Phone : +91-124-4257924
			<br>

			Or
			<br>
			email us at: futureinframail@gmail.com
		</strong>

		</p>
	</div>
</div>

{{page_footer}}
