
{{page_header}}

<div id="content">
	<div id="section">
		<div>
			<h1>Future Infra</h1>
			<p>
			Welcome to the website of FutureInfra Enterprises! One of the leading ELECTRICAL CONTRACTORS IN DELHI, INDIA. Also providing Electrical Services, Electric works, Electrical turn key projects, engineering, services and Electrical consultancy providers in New Delhi, India.

			Established in 2010 FutureInfra Enterprises has grown from its roots to one of the leading Electrical contractors solution and service providers in the industrial, commercial and residential sectors. Diligently providing various ON-TIME electrical solutions, services and consultancy including maintenence, Load Balancing, Power Backups etc, FutureInfra Enterprises has earned the faith and goodwill of its various clients with its expertise and perseverance over the past many years and going on... </p>
			<br>
			<br>
			<br>

		</div>
		<div id="figure">
			<a href="index.html"><img
				src="../static/images/main_image.jpg" alt="Image" /></a>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>

{{page_footer}}

