
{{page_header}}

<div id="content">
	<div id="section" height="800">
		<h1>Future Infra: Company profile</h1>

		<p>
Ensconced in the year 2010, we, "Future-Infra Enterprises", are a 'A' class electrical contractor, engaged in rendering Electric Substations and Transmission Services, Power Installation Services, Electrical and Electrification Services, Turnkey Consultants and Project Works, Manufacturer and Supplier of Current and Potential Transformers. The offered services are appreciated for their attributes like reliability, timely execution, flexibility and effectiveness. We have clients like HSIIDC, HVPNL, DHBVN and UHBVN. In addition to this, our deft personnel make sure to undertake the services for supply, erection, testing and commissioning of 33 kv and 11kv lines and sub-station depending on turnkey and consultancy and liaison with all the government departments. We possess a A class electrical contractor license up to extra high voltage level given by the chief electrical inspector to government of Haryana.
 
For the smooth working, we focus utmost attention towards accomplishing the satisfaction of the patrons. We utilize latest methodologies techniques to offer our services within the promised time period. In addition to this, we have hired our proficient personnel who operate to render these services, as per the requirement of our customers. 
Our company has already been empaneled in DHBVN (Dakshin Haryana Bijli Vitran Nigam )  Hissar  (Haryana) for the supply of 11 KV PT's and CT's and manufacturing 11 KV pilfer resistant metering cubicles complete with 11 KV epoxy resin cast CT of  desired ratios and 11000/110  volt 3 phase epoxy resin cast PT as per DHBVN specification.
 
 
Under the supervision of our director's, we have been able to garner a vast client-base around the globe. His immense experience and commendable knowledge of market has enabled us to win the trust and confidence of our valued patrons.
		</p>

		<table>
			<th> Company profile </th>
			<tr>
				<td width="400"> <b> Business type </b> </td>
				<td> Supplier <br> Service Provider</td>
			</tr>
			<tr>
				<td> <b> Year of Establishment </b> </td>
				<td> 2010 </td>
			</tr>
			<tr>
				<td> <b> Ownership type </b> </td>
				<td> Limited Liability/Corporation (Privately Held) </td>
			</tr>
			<tr>
				<td> <b> Annual Turnover</b> </td>
				<td> Upto US$ 0.37 Million (or Rs. 1.5 Crore Approx.) </td>
			</tr>
			<tr>
				<td> <b> Total Number of Employees </b> </td>
				<td> 8 to 10 People </td>
			</tr>
			<tr>
				<td> <b> Provide After Sales Support </b> </td>
				<td> Operational Training </td>
			</tr>
			<tr>
				<td> <b> Primary Competitive Advantage </b> </td>
				<td> OEM Capability </td>
			</tr>
			<tr>
				<td> <b> Quality Measures/Testing Facilities </b> </td>
				<td> Yes </td>
			</tr>
		</table>

		<br>

		<table>
			<th> Statutory profile </th>
			<tr>
				<td width="400"> <b> PAN No.</b> </td>
				<td> ACDPY8248B </td>
			</tr>
			<tr>
				<td> <b> Registration Authority </b> </td>
				<td> Gurgaon </td>
			</tr>
			<tr>
				<td> <b> Registration No.</b> </td>
				<td> </td>
			</tr>
		</table>

		<br>

		<table>
			<th> Packaging/Payment and Shipment Details </th>
			<tr>
				<td width="400"> <b> Customized Packaging </b> </td>
				<td> Yes </td>
			</tr>
			<tr>
				<td> <b> Payment Mode</b> </td>
				<td> Cash, Cheque and DD </td>
			</tr>
		</table>

		<p>
Backed by rich industry experience, we are rendering Electric Substations Services and Power Installation Services. Also, we are engaged in offering Electrical and Electrification Services . Owing to tour strong financial position in market, we have been able to capitalize an annual financial turn over for executing the electrical works on turnkey and labour rate basis. In addition to this, we have bank credit facility of Rs.100 lac. Also, we are able to garner vast clients following our deft financial stature in the market.	

Service Portfolio
		
		</p>

		<p>
		Our organization is counted amongst the most distinguished service provider of Electric Substations and Transmission Services, Power Installation Services, Electrical and Electrification Services, Turnkey Consultants and Project Works, Current and Potential Transformers. These services are known for their reliability, timely-execution, modification, cost-effectiveness, maintenance and flexibility. We have appointed dexterous civil and electrical engineers, who ensure to render these services, in accordance with the specifications detailed by the clients. Also, we are being mentioned with HSIIDC, HVPN, DHBVN, UHBVN as approved 'A' class electrical contractors. Given below are the services offered by us:
		</p>

		<table>
			<tr>
				<td width="400"> Category </td>
				<td> Services </td>
			</tr>

			<tr>
				<td> Electric Substations and Transmission Services </td>
				<td> 
					Independent Feeders and Outdoor Substations Services
					<br>
					LT Lines and Transformers Services
					<br>
					Short Term Open Access and Liaison Services
					<br>
					Substation Works 11 KV to 66 KV
					<br>
					Street Light and Electrification Services
					<br>
					HT Connections / Extension of Load
				</td>
			</tr>

			<tr>
				<td> Power Installation Services </td>
				<td>
					Power Installation System for Real Estate Projects
					<br>
					Power Installation For Hotels
					<br>
					Power Installation For Hospitals
					<br>
					Power Installation For Industries
					<br>
					Power Installation for Commercial Buildings
					<br>
					Switch Yards Receiving and Outgoing Substation Bays
				</td>
			</tr>

			<tr>
				<td> Electrical and Electrification Services </td>
				<td>
					Electrification Services in Malls
					<br>
					Electrification Services For Real Estate Project
					<br>
					Maintenance of Electrical Installations
					<br>
					Transmission Insulation
					<br>
					Current Transformers
					<br>
					Consultants Turnkey Projects
					<br>
					Industrial Electrification Project
					<br>
					Electrical Contractor
					<br>
					Street Light External Electrification
				</td>
			</tr>
			
		</table>

		<p>
		The company is engaged in planning, designing and construction of Electrical Substations including related and work from 11kv/33kv level to extra high voltage Level and associated transmission lines. We are undertaking the execution of the high tension substations and lines, street lighting , electrification of group touching societies and industries. We also provide engineering, design consultancy services, liasoning with the Govt. Department and Technical services for testing and commissioning of all kind of electrical classifications.	

		Management and Establishment
		Our organization is handled by knowledgeable personnel and
		vastly experienced professionals. Moreover, we have been working
		under the guidance of our managing director, who is a retired
		director of transmission from Haryana vidyut prasan nigam
		(HVPNL). Along with this, our two directors further strengthen
		our position in market. Two of the respected director possess a
		MBA degree, while other is a Master in Telecommunications from
		Rochester University, New York, USA. We have hired a proficient
		team of qualified and highly experienced electrical and civil engineers for undertaking fieldwork. Also, we have designated diploma holders and retired junior engineers(JE's) from HSEB, who are supervising the construction work of HT lines and sub-stations. In addition to this, we have selected licensed wireman, cable jointer, welder, technicians, skilled lineman and unskilled workers for the executing the business activities in a streamlined manner. 	

		Transportation and Tools and Plants
		We have adequate number of transport/ inspection vehicles including 2 Nos. Tractors with Trolley, 2 Nos. Mahindra pickups, and Toyota innova Cars. 

		We have adequate tools and tackles including pulling and lifting
		machines, Chain Pulley blocks, rope pulley blocks , welding
		sets, gas cutting and welding set, electrical drill machines and
		other general tools for the safe execution of work. We have all
		the testing and commissioning tools such as 2500 v/1500 v
		Motorized Magger hard: tester, Cable Jointing Kit and HT and LT Cable testing kits/magger.	

		We follow a suitable methodology for executing our services
		within the committed time frame. In order to offer these
		services in adherence with the set industry standards and
		guidelines, we have hired diligent engineers. Our expertise lies
		in undertaking tasks of supply, erection, testing and
		commissioning of 33kv and 11kv lines and sub-station, depending on the turnkey, along with the consultancy, liasoning and government departments. In addition to this, our employees make sure to provide these services, as per the varied requirement of our clients. Also, we conduct various training sessions for our personnel, to ensure that the services are offered to clients, leaving no loopholes.	

		Infrastructure
		We have developed a well constructed and state of-the-art infrastructure, which allow us in fabricating the bulk orders of the clients. Apart from this, we have also installed all the latest tools and machines that help us in giving desired shapes and sizes to these products. In order to keep all these machines in the best working condition, our infrastructure is regularly inspected by the supervisors. For the hassle-free working of our infrastructure, we have segregated it into various sections that are:

		<li>	Warehousing unit </li>
		<li>	Quality Controlling unit </li>
		<li>	Packaging unit </li>

		<br>
		<br>
		We give utmost importance to the satisfaction of our patrons. That's why, we offer our customers with optimum quality services. Being a client-centric enterprise, we render these services at industry leading prices. In addition to this, we also ensure that the offered services are at par with set industry standards and guidelines. We accept different simple and easy payment modes to our patrons, for simplifying the transaction process. Also, we interact with our customers in close proximity, to understand and comprehend on their feedback and suggest for improving our business dealings.	

		<br>
		<br>
		Why Us?
		Our enterprise has ensconced a strong foothold in the market, due to our effective and reliable services. We have achieved commendable reputation throughout the nation for strictly adopting ethical code of conduct and quality based approach. In addition to this, mentioned below are the norms that make us an obvious choice for patrons and leaves no stone unturned:

		<li>	Cost-effectiveness </li>
		<li>	Client-centric approach </li>
		<li>	Timely delivery of services </li>
		<li>	Experienced team of professionals </li>
		<li>	Good financial position and TQM </li>
		<li>	Customization facility </li>

		<br>
		<br>
		<br>
		<br>
	</div>

</div>

{{page_footer}}
