
{{page_header}}

<div id="content" height="1000">
	<div id="section" height="800">
		<h1>Future Infra: Our past and ongoing projects</h1>
		<p>
		We have executed number of projects for Providing HT Connections / Extension of Load and Installation of Transformers of many prestigious Companies.
		</p>

		<font size="5"> Major Clients </font>
		<br>
		<br>
		<li>	HSIIDC Ltd., Gurgaon </li>
		<li>	Dakshin and Utter Haryana Bijli Vitaran Nigam. </li>
		<li>	Orchid Real Estate </li>
		<li>	Haryana Vidhyut Prasaran Nigam Panchkula. </li>
		<li>	LS Cable and Systems India. </li>
		<li>	Caparo power Ltd. </li>
		<li>	Caparo maruti Ltd. </li>
		<li>	Mushashi India Lt. </li>
		<li>	Sankei </li>
		<li>	Talbrose </li>
		<li>	LUMAX India Ltd. </li>
		<li>	Indo Japanese Ltd (IJL) </li>
		<li>	ASAAHI Glass industries </li>
		<li>	Asian Color coated Ltd. </li>
		<br>
		<br>
		<br>
		<br>
    
	</div>
</div>

{{page_footer}}
