
{{page_header}}

<div id="content">
	<div id="section">
		<h1>Future Infra: Services</h1>


	<h3>Electric Substations and Transmission Services </h3>

	<table border="0">
		<tr>
			<td>
				<p>
				We are a coveted firm, engaged in offering Electric Substations and Transmission Services. The company is engaged in planning, designing and construction of electric substations including related civil works from 11 kv to 33 kv level to extra high voltage level and associated transmission lines. We are undertaking the execution of the high tension substations and lines, street lighting, electrification of group housing societies and industries. Furthermore, we also provide engineering, design consultancy services, liasoning with all government department and technical services for testing and commissioning of all kind of electrical installations. The projects executed by us are problem free. We do not compromise with workman ship and quality of work. We are proud of our sincerity, timely completion of work and are unmatched in our field.
				</p>
			</td>

		</tr>
	</table>

	<h3> Independent Feeders and Outdoor Substations Services </h3>
	<table>
		<tr>
			<td>
				<p>
				Owing to our experience, we have been successful in catering to the requirements of our esteem clients by rendering 11 KV to 33 KV Independent Feeders and Outdoor Substations Services. We have executed number of prestigious projects of 11 KV to 33 KV Independent Feeders and 11 KV to 33 kv sub-stations. Some of the major works are :-

				<ul>
					<li>	Supply and erection of 33kv independent feeder underground cable
					for Asian Colors Coated Ltd. Bawal, approximate length 6.5kms costing about 223 lakhs. </li>

					<li>	Design, installation T and C of 33 kv independent feeder from
					Caparo power Ltd. To 132 kv sub-station HSIDC Bawal. It Costs about 215 lakhs  </li>

					<li>	S and E of 11 KV underground cable, In the Bawal industrial area, Rewari, Haryana, from: </li>

					<ul>
						<li>	Caparo Power Ltd. To Mushashi India (7 KM) </li>
						<li>	Caparo Power Ltd. To Talbrose Ltd. (5 KM) </li>
						<li>	Caparo Power Ltd. To Sankei Ltd. (5 KM) </li>
						<li>	Caparo Power Ltd. To Caparo Maruti Ltd. (8 KM) </li>
						<li>	Caparo Power Ltd. To ASAAHI India Ltd. (6.5 KM) </li>
						<li>	Caparo Power Ltd. To Indo Japanese Ltd. (IJL). (6 KM) </li>
						<li>	Caparo Power Ltd. To LUMAX India Ltd. (7 KM) </li>
					</ul>

					<li>	Erection of 10 MVA, 33/11 kv power transformer at 33 kv substation inside premises of LS cable systems India, in Bawal, rewari, Haryana. With 4 DTs, and erection and commissioning of complete 33 KV switchyard for the company, with all liasioning. </li>
				</ul>
				</p>
			</td>
			<td>
				<img src="../static/images/services1.jpg"/>
			</td>

		</tr>
	</table>

	<h3> Substation Works 11 KV to 66 KV </h3>

	<table border="0">
		<tr>
			<td>
				<img src="../static/images/services2.jpg"/>
			</td>
			<td>
				<p>
We are offering services for Supply, Delivery and Erection of Substation Works From 11 KV to 66 KV. Being a client-centric organization, we are engaged in rendering wide spectrum of these services to our customers, as per their requirement. We have hired dexterous engineers who ensure to offer these services to clients, within the committed time frame.
				</p>
			</td>
		</tr>
	</table>

	<h3> Street Light And Electrification Services</h3>
	<table border="0">
		<tr>
			<td>
				<p>
				We are engaged in rendering Street Light and Electrification Services that meets the requirements of industries, newly developed colonies, sectors and highways etc. We strive hard to offer these services to clients, in accordance with their requirement and at industry leading prices.
				</p>
			</td>
			<td>
				<img src="../static/images/services3.jpg"/>
			</td>
		</tr>
	</table>

	<h3> HT Connections / Extension Of Load </h3>
	<table border="0">
		<tr>
			<td>
				<img src="../static/images/services5.jpg"/>
			</td>
			<td>
				<p>
				We have executed number of projects for Providing HT Connections / Extension of Load and Installation of Transformers of many prestigious Companies.
				</p>
			</td>
		</tr>
	</table>

	<h3> Long Term Open Access and Liaison Services </h3>
	<table border="0">
		<tr>
			<td>
				<p>
				Our domain expertise has enabled us to offer Short Term Open Access and Liaison Services to different industries.
				</p>
			</td>
			<td>
				<img src="../static/images/services6.jpg"/>
			</td>
		</tr>
	</table>

	</div>
</div>

{{page_footer}}
